@reference '../../../app/globals.css';

.card-border {
  @apply rounded-[12px] border-[3px] border-solid border-transparent p-4 lg:px-5 lg:py-6;

  .media {
    @apply mb-6;

    picture {
      @apply block overflow-hidden relative rounded-md;

      img {
        @apply w-full;
      }
    }
  }

  .card-title {
    @apply font-semibold text-base lg:text-2xl leading-[120%] uppercase mb-2 min-h-[2lh];
  }

  .card-description {
    @apply text-sm lg:text-lg leading-[150%] mb-0;
  }
}

.card-bullet {
  @apply rounded-2xl py-6 px-4 border-[1px] flex gap-2 lg:gap-4;
  background:linear-gradient(white, white) padding-box, linear-gradient(180deg, rgba(252, 214, 164, 0.4) 0%, rgba(93, 183, 192, 0.4) 100%) border-box;
  box-shadow: 2px 2px 10px rgba(9, 41, 87, 0.41);
  backdrop-filter: blur(11.45px);
  
  .card-title {
    @apply text-lg lg:text-xl font-semibold leading-[120%] mb-2;
    text-transform: none;
  }

  .icon {
    @apply shrink-0 grow-0 basis-8 w-8 h-8 lg:w-12 lg:h-12 lg:basis-12;
  }

  .card-description {
    @apply mb-0;

    p {
      @apply mb-3 text-sm leading-normal lg:text-base;
    }

    ul {
      @apply list-none;

      li {
        @apply mb-2 relative flex gap-2 text-sm text-[#414141] lg:text-base;

        &::before {
          content: '';
          @apply block grow-0 shrink-0 basis-5 w-5 h-5 bg-contain bg-no-repeat bg-center;
          background-image: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0013 1.84375C14.6038 1.84375 18.3346 5.57458 18.3346 10.1771C18.3346 14.7796 14.6038 18.5104 10.0013 18.5104C5.3988 18.5104 1.66797 14.7796 1.66797 10.1771C1.66797 5.57458 5.3988 1.84375 10.0013 1.84375ZM12.9471 7.16125L8.82214 11.2863L7.05547 9.51875C6.9781 9.44132 6.88624 9.3799 6.78513 9.33797C6.68401 9.29605 6.57564 9.27445 6.46618 9.27441C6.24512 9.27434 6.03309 9.36208 5.87672 9.51833C5.72035 9.67459 5.63246 9.88656 5.63238 10.1076C5.63231 10.3287 5.72005 10.5407 5.8763 10.6971L8.17463 12.9954C8.25976 13.0806 8.36083 13.1481 8.47208 13.1942C8.58332 13.2403 8.70255 13.2641 8.82297 13.2641C8.94338 13.2641 9.06262 13.2403 9.17386 13.1942C9.2851 13.1481 9.38618 13.0806 9.4713 12.9954L14.1263 8.34042C14.2827 8.18405 14.3705 7.97197 14.3705 7.75083C14.3705 7.5297 14.2827 7.31762 14.1263 7.16125C13.9699 7.00488 13.7579 6.91704 13.5367 6.91704C13.3156 6.91704 13.1035 7.00488 12.9471 7.16125Z" fill="%23092957"/></svg>');
        }
      }
    }
  }
}
.card-normal {
  @apply border-0 p-0 md:flex md:gap-4 lg:gap-8;

  .media {
    @apply mb-3 md:m-0 md:grow-0 md:shrink-0 md:flex-1/2 lg:flex-[60%];
    picture {
      @apply rounded-none;

      img {
        @apply w-full;
      }
    }
  }

  .card-content {
    @apply md:flex md:flex-col md:justify-center lg:flex-[40%];
  }

  .rte-content {
    @apply mb-0;
  }
  .card-title {
    @apply font-semibold text-xl lg:text-2xl leading-[120%] mb-2 lg:mb-5;
  }
}

.card-icon {
  @apply flex gap-3 py-3 lg:flex-col lg:items-center lg:justify-start lg:text-center;
  .media {
    @apply shrink-0 grow-0 basis-20 lg:basis-[120px] aspect-square lg:mb-3 lg:w-[120px];

    img {
      @apply w-full;       
    }
  }

  .rte-content {
    @apply mb-0 lg:px-4;
  }
  .card-title {
    @apply font-semibold text-xl lg:text-2xl leading-[120%] mb-1 lg:mb-3;
  }

  .card-subtitle {
    @apply text-sm lg:text-base leading-[150%] mb-2 text-[#5A5A5A];
  }

  &:not(:has(.card-description)),
  &:has(.card-description:empty) {
    @apply items-center;
  }
}

.card-overlay {
  @apply bg-white/80 border-l-[5px] border-solid border-[#4B95B4] py-8 px-4 backdrop-blur-sm md:max-w-3/4 xl:max-w-[790px];

  .media {
    @apply shrink-0 grow-0 basis-16 mb-5;
  }

  .rte-content {
    @apply mb-0 text-sm leading-normal;
  }
  .card-title {
    @apply font-bold text-xl lg:text-2xl leading-normal mb-1 lg:mb-3;
  }

  .card-subtitle {
    @apply text-sm lg:text-base leading-[150%] mb-2 text-[#5A5A5A];
  }
}

.cards-card-overlay {

  .cards {
    @apply pt-10;
  }
}

.cards-card-icon {

  .heading {
    @apply xl:mb-12;
  }
}

.cards-card-normal {
  
  @variant lg {
    .card {

      &:nth-child(even) {
        @apply flex-row-reverse;
      }
    }
  }
}
