/* @import "tailwindcss"; */

@reference '../../app/globals.css';
.main-header {
  @apply fixed lg:py-5 z-50 left-0 right-0 top-0 duration-300;
  transition-property: background, colors, translate;
  
  .container {
    @apply flex justify-between items-center h-16 lg:h-auto lg:relative;
  }
  
  .header-logo {
    @apply w-32 lg:w-44;
  }

  .btns {
    @apply lg:mr-10 xl:mr-24;
    
    .button {
      @apply text-xs px-4 py-2 lg:text-sm font-bold lg:px-6 lg:py-3;
      &.outline {
        @apply outline-white;
      }
    }
  }

  .hambuger {
    @apply w-8 h-8 flex items-center justify-center lg:hidden;
  }

  &.scrolled {

    .scrolled\:bg-white {
      @apply bg-white text-primary;
    }

    &.scrolled-down {
      @apply -translate-y-full;
    }

    &.scrolled-up {
      @apply translate-y-0;
    }
  }
}

.mobile-navigation {
  @apply text-center;

  .language-box {
  @apply flex justify-center absolute left-0 right-0 mx-auto bottom-16;
  }

  button {
    &:last-child {
      @apply top-10;
    }    
  }

  .logo {
    @apply max-w-32 mx-auto mt-5 mb-14;
  }
}

.desktop-navigation {

  ul {
    @apply items-center gap-[30px] text-[0px];

    a {
      @apply text-sm font-medium uppercase;
      @apply hover:text-[#5DB7C0] focus:text-[#5DB7C0] active:text-[#376D85];
    }
  }
  .language-box {
    @apply absolute top-1/2 -translate-y-1/2 right-0 lg:right-4;

    button {
      @apply outline-none p-0 focus-visible:ring-0 underline-offset-4 underline flex justify-center;
    }
    svg {
      @apply hidden;
    }

    span[data-slot="select-value"] {
      @apply flex justify-center;
    }
  }
}

.select-language-box {
  @apply p-0 border-0 overflow-hidden -ml-4;
  
  @variant lg {
    @apply bg-[#376D85] overflow-hidden p-0;

    > div[role="presentation"] {
      @apply p-0;
    }

    .select-item {
      @apply rounded-none px-4;

      &:hover {
        @apply bg-[#4B95B4];
      }
      &[data-state="checked"] {
        @apply bg-[#4B95B4];

        svg {
          @apply text-white;
        }
      }
    }
  }
}

.floating-bar {
  @apply fixed right-3 bottom-4 flex flex-col gap-2 lg:gap-4 z-50;

  a {
    @apply text-[0px] relative flex justify-center items-center;

    &::before {
      content: '';
      @apply block absolute top-0 left-0 origin-center rounded-full z-[1] aspect-square size-12 lg:size-[72px];
    }

    img {
      @apply relative z-[2] size-8 lg:size-12;
    }
    span {
      @apply absolute top-0 left-0 origin-center rounded-full z-[1] block aspect-square size-12 lg:size-[72px] animate-ping !visible;
    }

    &.phone {
      &::before {
        @apply bg-[#DC6803]/30;
      }

      span {
        @apply bg-[#DC6803]/30;
      }
    }

    &.zalo {
      &::before {
        @apply bg-[#3982F7]/30;
      }

      span {
        @apply bg-[#3982F7]/30;
      }
    }
  }
}
body[data-scroll-locked] {
  @apply bg-black;
  .main-header {
    right: var(--removed-body-scroll-bar-size);
  }

  .floating-bar {
    margin-right: var(--removed-body-scroll-bar-size);
  }
}