@reference '../../app/globals.css';


.heading {
  @apply font-mono font-bold text-[32px] leading-tight xl:text-[48px] mb-2;
}

.sub-heading {
  @apply font-mono font-bold text-[24px] leading-[140%] lg:text-[36px] mb-9;
}
.text-gradient {
  @apply !bg-clip-text w-fit leading-[160%];
  -webkit-text-fill-color: transparent;

  &.text-center {
    @apply mx-auto;
  }

  &.text-right {
    @apply justify-self-end;
  }

  &:has(+ .sub-heading) {
    @apply mb-0;
  }
}

.media {

  &.shadow {
    picture {
      @apply block overflow-hidden relative;
      
      &::before {
        content: '';
        @apply block w-full h-full absolute top-0 left-0;
        box-shadow: 0 0 14px 14px white inset;
      }
    }

    @variant lg {
      picture {

        &::before {
          box-shadow: 0 0 24px 32px white inset;
        }
      }
    }
  }
}

.section-content {
  
  > .container {
    @apply py-8 xl:py-24;
  }

  .rte-content {
    @apply text-base lg:text-lg leading-normal tracking-[2%] mb-6 lg:mb-10;
  }

  .ctas {
    @apply flex gap-4 mb-5 empty:hidden;
  }
}

.media-right,
.media-left {

  .media {
    @apply lg:w-1/2 lg:basis-[54%] lg:shrink-0 lg:grow-0;
  }

  .container {
    @apply lg:flex lg:gap-10 lg:items-center;
  }

  .heading {
    @apply mb-4 lg:mb-6;

    &.text-gradient {
      @apply mb-2 lg:mb-4;
    }
  }
}
.media-left {
  
  .container {
    @apply lg:flex-row-reverse;
  }
}

.media-background {
  @apply relative;
  .container {
    @apply relative z-[2];
  }

  .content {
    @apply pt-10 lg:pt-20;
  }

  .bg-media {
    @apply absolute top-0 bottom-0 left-0 right-0;
    picture,
    img {
      @apply w-full h-full object-cover;
    }
  }
}

.hero-section {
  @apply pt-20;

  .heading {
    @apply text-4xl font-bold leading-[112%] lg:text-[48px] xl:text-[64px] 2xl:text-[86px];
  }

  .rte-content {
    @apply text-sm;
  }
}

.section-table {

  .description {
    @apply text-base leading-[150%] text-center mb-8 mx-2;
  }
  
  .video-native {
    @apply overflow-hidden rounded-2xl object-cover;
  }

  .cta {
    @apply mx-auto inline-flex justify-self-center;
  }

  .table {
    @apply lg:flex-1/2;
  }

  .video-wrapper {
    @apply text-center;
  }
}

.video-native {
  @apply pointer-events-auto;
}
.video-wrapper {
  @apply lg:flex-1/2;

  > div {
    @apply mb-7 relative pointer-events-none;

    &::before {
      content: '';
      @apply absolute top-1/2 left-1/2 -translate-1/2 w-10 h-10 bg-contain opacity-50 z-[1] cursor-pointer md:w-20 md:h-20;
      background-image: url('data:image/svg+xml,<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"><foreignObject x="-1.27778" y="-1.60004" width="43.5556" height="43.5556"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(0.89px);clip-path:url(%23bgblur_0_1328_3387_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="1.77778" cx="20.5" cy="20.1777" r="20" fill="white" fill-opacity="0.3"/><g clip-path="url(%23clip1_1328_3387)"><circle cx="20.5938" cy="20.2676" r="15.9012" fill="black" fill-opacity="0.5" stroke="white" stroke-width="0.197531"/><path d="M25.9961 19.8359C26.4246 20.0845 26.4246 20.7036 25.9961 20.9521L17.8193 25.6943C17.3893 25.9436 16.8506 25.6328 16.8506 25.1357L16.8506 15.6514C16.8506 15.1542 17.3893 14.8443 17.8193 15.0937L25.9961 19.8359Z" stroke="white" stroke-width="0.43004"/></g><defs><clipPath id="bgblur_0_1328_3387_clip_path" transform="translate(1.27778 1.60004)"><circle cx="20.5" cy="20.1777" r="20"/></clipPath><clipPath id="clip1_1328_3387"><rect width="32" height="32" fill="white" transform="translate(4.59375 4.26758)"/></clipPath></defs></svg>')
    }

    &:has(.playing) {
      &::before {
        @apply opacity-0;
      }
    }
  }
}

table.table {
  @apply w-full rounded-2xl border-separate bg-[#F4FAFF];

  tr:first-child {
    td:first-child {
      @apply rounded-tl-2xl;
    }
    td:last-child {
      @apply rounded-tr-2xl;
    }
  }

  tr:last-child {

    td {
      @apply border-b-[1px];
    }
    td:first-child {
      @apply rounded-bl-2xl;
    }
    td:last-child {
      @apply rounded-br-2xl;
    }
  }
  td {
    @apply px-4 py-3 text-sm leading-normal border-[#5DB7C0] border-[1px] border-solid border-b-0 lg:text-base;

    &.table-label {
      @apply border-r-0 min-w-28 xl:whitespace-nowrap;
    }

    & + td {
      @apply border-l-0;
    }
  }

  .cell-content {

    .rte-content {
      @apply text-sm leading-normal font-bold text-[#282828] mb-0 lg:text-base;
    }
  }
}

.section-map {

  .cards {
    @apply lg:flex-[40%];
  }
}

.map-container {
  @apply -mx-4 lg:mx-auto lg:flex-[60%];

  .map {
    @apply relative lg:rounded-3xl overflow-hidden;
    
    @variant lg {
      box-shadow: 3px 3px 15px rgba(9, 41, 87, 0.41);
    }
  }

  .building {
    @apply absolute top-[74%] left-[45%] lg:left-[48%] w-10 h-10 object-contain origin-center lg:w-14 lg:h-14 animate-zoom;
  }
}

.section-listing {
  @apply overflow-hidden relative;

  .container {
    @apply pt-13 pb-0 lg:flex lg:gap-8 lg:pt-20;
  }
  
  .description {
    @apply text-base leading-[150%] mb-6 lg:mb-8;
  }

  .ctas {
    @apply mb-0;
  }

  .group-text {
    @apply mb-10 lg:mb-0 lg:flex-[34%] lg:flex lg:flex-col lg:justify-center relative z-[2];
  }

  .group-listing {
    @apply relative lg:flex-[66%] z-[2];
  }

  .listing {
    @apply grid grid-cols-2 gap-4 mb-13;

    .listing-item {
      @apply flex flex-col justify-center items-center text-center rounded-2xl border-[2px] border-solid border-transparent py-3 px-5 lg:absolute;
      background:linear-gradient(#092957, #092957) padding-box, linear-gradient(-59deg,rgba(193, 156, 88, 1) 0%, rgba(249, 243, 209, 1) 58%, rgba(193, 156, 88, 1) 100%) border-box;

      .label {
        @apply text-sm leading-normal mb-2;
      }

      .content {
        @apply text-xl leading-[120%] text-[#FFD884] font-semibold;

        .rte-content {
          @apply mb-0 text-xl;
        }
      }
    }
  }

  @variant lg {

    .heading {
      @apply mb-6;
    }
    .group-text {
      @apply min-h-[608px] max-w-[calc(34%_-_32px)];
    }

    .building {
      @apply flex justify-end items-end h-full;

      > div {
        @apply w-3/4;
      }
    }
    .group-listing {
      @apply absolute right-0 bottom-0;
    }

    .listing {
      @apply mb-0;

      .listing-item {
        @apply origin-center p-4 flex flex-col flex-col-reverse;

        .rte-content {
          @apply text-2xl leading-[120%];
        }

        &:first-child {
          @apply left-20 bottom-15;
        }

        &:nth-child(2) {
          @apply left-5 bottom-28 -translate-y-full;
        }

        &:nth-child(3) {
          @apply left-0 bottom-40 -translate-y-[200%];
        }

        &:nth-child(4) {
          @apply left-15 bottom-50 -translate-y-[300%];
        }

        &:nth-child(5) {
          @apply left-60 bottom-55 -translate-y-[400%];
        }

        &:nth-child(6) {
          @apply left-115 bottom-50 -translate-y-[500%];
        }

        &:has(+ :last-child),
        &:last-child {
          @apply flex-col;
        }
      }
    }
  }
  
  @variant xl {
    .group-listing {
      @apply w-[900px] h-[650px];
    }

    .building {
      > div {
        @apply w-auto;
      }
    }

    .listing {

      .listing-item {
        @apply min-w-[180px]
      }
    }
  }
}

.section-bg {
  @apply relative;

  .container {
    @apply relative z-[1] lg:py-24;
  }
  .bg {
    @apply absolute left-0 top-0 right-0 bottom-0;

    picture {
      @apply block w-full h-full;

      img {
        @apply object-cover w-full h-full;
      }
    }
  }

  &.section-listing {

    .container {
      @apply static;
    }
  }
}

.section-form {
  @apply lg:aspect-[1200/910] xl:aspect-[1440/910];

  .container {
    @apply lg:flex h-full lg:justify-end lg:items-center;
  }

  .form-wrapper {
    @apply rounded-2xl px-4 py-6 lg:max-w-1/2 lg:justify-self-end lg:px-10 lg:py-12;

    .heading {
      @apply lg:text-[32px] lg:text-left lg:mx-0 lg:mb-6;
    }
  }
}

.section-tabs {
  
  .section-gallery {
    .container {
      @apply p-0;
    }
  }  
}

.tabs-gallery {

  > .container {
    @apply relative;

    > .heading {
    @apply md:text-left md:mx-0;
  }
  }
  .section-description {
    @apply hidden md:block md:max-w-1/2;
  }

  .tabs-wrapper {

    [role="tablist"] {
      @apply md:absolute right-0 md:top-24 lg:top-40;
    }
  }

  .tab-button {
    @apply h-auto py-2 bg-transparent  data-[state=active]:bg-[#E5F2F8] data-[state=active]:text-[#092957] dark:data-[state=active]:text-[#092957] text-base dark:data-[state=active]:bg-[#E5F2F8] dark:text-[#282828] text-[#282828];
  }
}

.tab-products {

  > .container {
    @apply pb-0 max-w-none xl:px-4;
  }

  .section-description {
    @apply text-center md:max-w-3/4 mx-auto;
  }

  .tabslist-wrapper {
    @apply px-0 pt-3 -mx-4 w-auto lg:pt-4 bg-white sticky top-0 h-auto z-[2] items-stretch text-center;
  }

  [role="tablist"] {
    @apply bg-[#E5F2F8] items-stretch p-0;

    /* &::before,
    &::after {
      content: '';
      @apply flex flex-1;
    } */
  }
  .tab-button {
    @apply bg-[#E5F2F8] data-[state=active]:bg-[#4B95B4] data-[state=active]:text-white dark:data-[state=active]:text-white text-base dark:data-[state=active]:bg-[#4B95B4] text-[#282828] h-auto py-2 grow-0 shrink-0 basis-0 rounded-none data-[state=active]:rounded-md min-w-[30%] whitespace-normal md:min-w-auto md:whitespace-nowrap;

    &:first-child {
      @apply rounded-tl-md rounded-bl-md;
    }

    &:last-child {
      @apply rounded-tr-md rounded-br-md;
    }
  }

  .photo {
    @apply flex justify-center mx-auto;
  }

  .tabs-wrapper {

    .section-content {
      @apply -mx-4;
    }

    .section-cards {

      .heading {
        @apply text-lg xl:text-2xl font-semibold rounded-md px-4 py-2 bg-[#4B95B4] justify-self-start inline-flex;
      }
    }

    .tab-photos {
      @apply xl:px-[120px]
    }
  }
}

.section-logos {

  .container {
    @apply xl:py-36;
  }

  .heading {
    @apply xl:w-3/4;
  }
  .video-native {
    @apply overflow-hidden rounded-2xl object-cover;
  }

  .logos {    
    > a {
      @apply flex-[calc((100%_-_64px)/4)];
    }
  }
}

.section-apartments {
  @apply bg-black/50 bg-blend-darken bg-cover overflow-hidden;

  .block-title {
    @apply text-white font-bold uppercase text-lg leading-[120%] mb-5 lg:text-2xl;
  }

  .main-part {
    @apply mb-8 lg:mb-12 empty:hidden;

    .tag {
      @apply text-lg xl:text-2xl font-semibold rounded-md px-4 py-2 bg-[#4B95B4] justify-self-start text-white mb-6 lg:mb-8 xl:mb-12;
    }
  }

  .slides-part {
    @apply relative;

    .apartment-slides {
      @apply static;
    }

    [data-slot="carousel-content"] {
      @apply overflow-visible lg:overflow-hidden;
    }

    .carousel-controls {
      @apply -top-2 absolute right-0 flex gap-4 lg:-top-6;

      button {
        @apply static translate-0 fill-white stroke-white text-white border-white w-8 h-8 lg:w-[52px] lg:h-[52px];
      }
    }
  }

  .apartment-item {
    @apply max-w-[306px] md:basis-1/2 lg:basis-1/3 xl:basis-1/4 bg-white rounded-2xl overflow-hidden flex flex-col justify-between h-full;

    .media {
      @apply overflow-hidden aspect-[306/172];
    }
    .apartment-item-content {
      @apply p-2 lg:px-4 lg:py-3 flex flex-col justify-between grow;

      .home-key {
        @apply font-bold text-sm lg:text-base text-primary mb-2;
      }

      ul {
        @apply text-[#414141] text-xs lg:text-sm;

        li {
          @apply mb-2 relative flex gap-2;

          &::before {
            content: '';
            @apply block w-5 h-5 bg-contain bg-no-repeat bg-center;
            background-image: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0013 1.84375C14.6038 1.84375 18.3346 5.57458 18.3346 10.1771C18.3346 14.7796 14.6038 18.5104 10.0013 18.5104C5.3988 18.5104 1.66797 14.7796 1.66797 10.1771C1.66797 5.57458 5.3988 1.84375 10.0013 1.84375ZM12.9471 7.16125L8.82214 11.2863L7.05547 9.51875C6.9781 9.44132 6.88624 9.3799 6.78513 9.33797C6.68401 9.29605 6.57564 9.27445 6.46618 9.27441C6.24512 9.27434 6.03309 9.36208 5.87672 9.51833C5.72035 9.67459 5.63246 9.88656 5.63238 10.1076C5.63231 10.3287 5.72005 10.5407 5.8763 10.6971L8.17463 12.9954C8.25976 13.0806 8.36083 13.1481 8.47208 13.1942C8.58332 13.2403 8.70255 13.2641 8.82297 13.2641C8.94338 13.2641 9.06262 13.2403 9.17386 13.1942C9.2851 13.1481 9.38618 13.0806 9.4713 12.9954L14.1263 8.34042C14.2827 8.18405 14.3705 7.97197 14.3705 7.75083C14.3705 7.5297 14.2827 7.31762 14.1263 7.16125C13.9699 7.00488 13.7579 6.91704 13.5367 6.91704C13.3156 6.91704 13.1035 7.00488 12.9471 7.16125Z" fill="%23092957"/></svg>');
          }
        }
      }
    }

    .btn {
      @apply mt-2 w-full uppercase text-sm font-bold justify-center;

      span {
        @apply text-center justify-center text-xs lg:text-sm;
      }
    }
  }
}